@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Nunito+Sans:opsz,wght@6..12,300;6..12,400&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Kalam&family=Nunito+Sans:opsz,wght@6..12,300;6..12,400&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Nunito sans;
}

html{
    font-size: 62.5%;
    color: blue;
    overflow-x: hidden;
    
}

body{
    /* border: 2rem solid #ff7817; */
    overflow-x: hidden;
    line-height: 1.5;
    font-family: 'Nunito Sans', sans-serif;
    /* border-top: 2rem solid #ff7817; */
    border-bottom: 2rem solid #ff7817;
    border-left: 2rem solid #ff7817;
    border-right: 2rem solid #ff7817;
}



main{
    min-width: 100vh;
    /* width: 90vw; */
    min-height: calc(100vh - 20rem);
    margin-top: 20rem;
}


.header{
    /* 1rem = 10px  */
    padding: 0 4.8rem;    
    height: 20rem;
    display: flex;
    position: fixed;
    width: 97.35%;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgb(216, 214, 211); */
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.2); 
    border-top: 2rem solid #ff7817;
    /* border-right: 2rem solid #ff7817;
    border-left: 2rem solid #ff7817; */
    
    
}



.header-div{
    display: flex;
    gap: 4.8rem;
    align-items: center;
    /* position: fixed; */

}

.header-link{
    font-family: East Sea Dokdo;
    font-size: 3.5rem;
    color: black;
}


.header .logo{
    height: 15rem;
    width: auto;
    /* color: #ff7817; */
    
}

.header .navbar-list-inline{
    display: inline;
    padding: 0rem 0.5rem;
}

.link{
    text-decoration: none;
    color: #212529;
    
}

.sign-up-link{
    background-color: #ff7817;
    border-radius: .5rem;
}

.header .navbar-link{
        
    padding: 0.5rem 1rem;
}

/* <========use of hover start========> */

.navbar-link:link,
.navbar-link:visited {
    /* display: inline-block; */
    font-size: 1.8rem;
    font-weight: 500;
    color: #212529;
    text-transform: uppercase;
    transition: all 0.3s;
}


.header-link:hover,
.header-link:active{
    color: #ff7817;
}

.navbar-link:hover,
.navbar-link:active{
    color: #ff7817;
}

.sign-up-link:hover,
.sign-up-link:active{
    color: #ede5df;
}

/* <========use of hover end========> */

.navbar-mobile-btn{
    display: none;
    background: transparent;
    cursor: pointer;
}

.nav-mobile-icon{
    width: 4rem;
    height: 4rem;
    color: #212529;
}


.nav-mobile-icon[name="close-outline"]{
    display: none;
}



/* 1em = 16px */
/* 62em = 980px */

@media(max-width: 62em){
    .navbar-mobile-btn{
        display: block;
        z-index: 999;
        border: 3px solid #212529;
        color: #212529;
    }


    .header-div{
        gap: 2rem;
    }

    .header-link{
        font-size: 2.4rem;
    }

    .header{
        padding: 0 2rem;
        position: relative;
    }

    html{
        font-size: 62.5%;
    }

    .navbar{
        /* display: none; */
        width: 100%;
        height: 100vh;
        background-color: #ede5df;
        position: absolute;
        top: 0;
        left: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        /* to get transitionnn */
        transform: translateX(100%);
        transition: all 0.5s linear;


        opacity: 0;
        visibility: hidden;
        pointer-events: none;

    }

    .navbar-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

    }


    .active .navbar{
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .active .navbar-mobile-btn .nav-mobile-icon[name="close-outline"]{
        display: block;
    }

    .active .navbar-mobile-btn .nav-mobile-icon[name="menu-outline"]{
        display: none;
    }

}


/* below 560px */
@media(max-width: 35em){
    .header{
        padding: 0 2rem;
    }

    .header-link{
        font-size: 2rem;
    }
}


/*=============footetr start=========== */

.footer{
    padding: 1.5rem 4.8rem;    
    height: auto;
    /* display: flex; */
    justify-content: space-between;
    /* align-items: center; */
    /* background-color: rgb(216, 214, 211); */
    box-shadow: 0px -2.98256px 7.4564px 0px rgba(0, 0, 0, 0.3);
}

.footer-div img{
    display: flex;
    /* flex-direction: column; */
    height: 15rem;
    width: auto;
    align-items: center;
    justify-content: center;
    /* margin-left: %; */
    margin-right: 95%;
    /* margin-bottom: 5rem; */

}

.phone-address{
    color: #212529;
    font-size: 1.5rem;
}

ul{
    list-style: none;
}

.footer-div-row{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.footer-logo{
    height: 4rem;
    width: auto;
    align-content: center;

}

.footer-div-row-col{
    width: 30%;
    padding: 0 15px;
    margin-bottom: 20px;
}

.footer-div-row-col h4{
    font-size: 1.8rem;
    color: #212529;
    text-transform: capitalize;
    margin-bottom: 1.5rem;
    /* font-weight: 500; */
    position: relative;
}

.footer-div-row-col h4::before{
    content: '';
    position: relative;
    left: 0;
    bottom: -10px;
    background-color: #ff7817;
    height: 2px;
    width: 50px;
}

.footer-div-row-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-div-row-col ul li a{
    font-size: 1.5rem;
    color: #212529;
    text-decoration: none;
    font-weight: 400;
    display: block;
    transition: all 0.3s ease;
}

.footer-div-row-col ul li a:hover{
    padding-left: 8px;
}


@media(max-width: 62em){
    .footer-div-row-col{
        width: 40%;
        margin-bottom: 30px;
    }
}

@media(max-width: 35em){
    .footer-div-row-col{
        width: 100%;
    }
}

/*=============footetr end=========== */




/* ===========1st section start========== */
.section{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider{
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 100%;
    height: 600px;
}

.nav-m{
    position: absolute;
    width: 100%;
    justify-content: center;
    display: flex;
}

.m-btn{
    border: 2px solid #ff7817;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.m-btn:not(:last-child){
    margin-right: 30px;
}

.m-btn:hover{
    background-color: #ede5df;
}

#radio1:checked ~.first{
    margin-left: 0;
}
#radio2:checked ~.first{
    margin-left: 20%;
}
#radio3:checked ~.first{
    margin-left: 40%;
}
#radio4:checked ~.first{
    margin-left: 60%;
}

.nav-auto{
    position: absolute;
    width: 100%;
    margin-top: 460px;
    display: flex;
    justify-content: center;
}

.nav-auto div{
    border: 2px solid #ff7817;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.nav-auto div:not(:last-child){
    margin-right: 30px;
    justify-content: center;
}

#radio1:checked ~ .nav-auto .a-b1{
    background-color: #ff7817;
}
#radio2:checked ~ .nav-auto .a-b2{
    background-color: #ff7817;
}
#radio3:checked ~ .nav-auto .a-b3{
    background-color: #ff7817;
}
#radio4:checked ~ .nav-auto .a-b4{
    background-color: #ff7817;
}

/* ===========1st section end========== */



/* ==========2nd sectionn start=========== */
.dinning-section{
    padding: 5rem 30rem;
    
}

.dinning{
    padding: 0 2rem;
    text-align: center;
    color: #212529;
    
}

.dine-first{
    
    margin-bottom: 3.5rem;
    
    font-family: 'Amatic SC', sans-serif;
    
}

.dineh1{
    font-family: 'Amatic SC', sans-serif;
    font-size: xxx-large;

}

.dh3{
    font-size: x-large;
}

.dh4{
    font-size: large;
}

.dine-link{
    font: 700;
    display: flex;
    justify-content: space-between;
    font-family: 'Amatic SC', sans-serif;
    font-size: large;
    margin: 2.5rem 0;
}

.dlink:link,
.dlink:visited{
    text-transform: uppercase;
    transition: all 0.3s;
}

.dlink:hover,
.dlink:active{
    color: #ff7817;
}

.dine-time h4{
    margin-top: 2.5rem;
    font-family: 'Amatic SC', sans-serif;
    font-size: large;
}

/* ===========2nd section end========== */




/* ==============3rd sectionn start============ */
.story{
    background-color: #C8A992;
    width: 100%;
    height: 800px;
}

.story-one{
    display: flex;
    text-align: center;
    color: #212529;
    font-size: xx-large;
    
}

.story-one p{
    font-family: 'Kalam', cursive;
    margin-top: 7rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.pan{
    font-size: xxx-large;
    font-family: 'Kalam', cursive;
    text-decoration: underline;
}

.one-img{
    width: 500px;
    height: 350px;
}

.story-two{
    display: flex;
    text-align: center;
    color: #212529;
    font-size: xx-large;
    margin-top: 10rem;

}

.story-two p{
    font-family: 'Kalam', cursive;
    margin-top: 14rem;
    margin-left: 10rem;
    
}

.two-img{
    width: 500px;
    height: 350px;
}

/* ==============3rd sectionn end============ */




/*=============== 4th sectionn start ==============*/

.banner{
    /* background: url("Images/reserved (4).jpg"); */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    color: #fff;
    padding-bottom: 20px;
}

.card-container{
    display: grid;
    grid-template-columns: 420px 420px;
    background-color: rgb(4, 4, 4);
    margin-bottom: 13rem;
}

.card-img{
    background: url("Images/reserved (1).jpg") center/cover no-repeat;
}

.banner h1{
    padding-bottom: 40px;
    margin-bottom: 10px;
    text-align: center;
    color: #212529;
    font-size: xxx-large;
    font-family: 'Kalam', cursive;
    font-weight: lighter;
    margin-top: 3rem;
}

.card-content{
    background: #0000;
    height: 330px;
    
}

.card-content h3{
    text-align: center;
    color: #fff;
    padding: 25px 0 10px 0;
    font-size: 26px;
    font-weight: 500;
    font-family: Nunito sans;
    /* font-family: 'Kalam', cursive; */
}

.form-row{
    display: flex;
    width: 90%;
    margin: 0 auto;
}

form select, form input{
    display: block;
    width: 100%;
    margin: 15px 12px;
    padding: 5px;
    font-size: 15px;
    font-family: Nunito sans;
    outline: none;
    border: none;
    border-bottom: 1px solid #ff7817;
    font-weight: 300;
}

form input[type=text], form input[type=number], form input::placeholder, select{
    color: #9a9a9a;
}

form input[type=submit]{
    color: #fff;
    background: #ff7817;
    padding: 12px o;
    border-radius: 4px;
    cursor: pointer;
}

form input[type=submit]:hover{
    opacity: 0.9;
}

@media(max-width: 62em){
    .card-container{
        grid-template-columns: 100%;
    }

    .card-img{
        height: 330px;
    }
}

/* ==============4th sectionn end============ */




/* ==================5th section testimonial css===================== */
.testimo{
    width: 100%;
    height: 700px;
    display: grid;
    grid-template-columns: 100%;
}


.testimo-img{
    background: url("Images/custm (1).jpg") center/cover no-repeat;
    /* opacity: 0.9; */
    
}

.testimo-img div{
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
    /* font-family: Nunito sans; */
    font-family: 'Kalam', cursive;
}

.testimo-img div h1{
     font-size: xxx-large;
     font-weight: 500;
     font-family: 'Kalam', cursive;
     margin-bottom: 1rem;
     
     
}

.testimo-img div h4{
    font-size: medium;
    font-weight: 200;
    margin-bottom: 1rem;
    font-family: 'Kalam', cursive;
}

.testimo-img div p{
    width: 50%;
    height: 300px;
    line-height: 3rem;
    padding: 3rem;
    font-size: x-large;
    /* background: #212529; */
    font-family: 'Kalam', cursive;
}
/* ==============5th sectionn end============ */



/* ==============MENU START============ */
.main-menu{
    color: #212529;
    padding: 4rem 8rem;
}

.menuss{
    display: grid;
    justify-content: start;
    position: fixed;
}

.menuss h1{
    text-decoration: underline solid #ff7817;
    padding: 2rem;
    font-size: x-large;
}

.menuss ul{
    padding: 2.5rem;
}

.menuss ul li{
    margin-bottom: 2rem;
    font-size: medium;
}

.menuss ul li:hover{
    padding-left: 1rem;
    cursor: pointer;
}



.outer-menu-div{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 7.6%;
}

.main-menu-div{
    margin-top: 5%;
    margin-bottom: 5%;
    
}

.main-menu-div a{
    margin-bottom: 10%;
    font-size: large;
}

.inner-div{
    margin-top: 3%;
    width: 100%;
    height: 400px;
    /* background-color: #a09893; */
    align-content: center;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    
}

.inner-most-card-div{
    width: 200px;
    height: 350px;
    margin: 1rem;
    background-color: #f4f2f0;
}

.inner-most-card-div img{
    width: 100%;
    height: 50%;
}

.inner-most-card-div h4{
    margin-top: 1rem;
    font-size: medium;
    font-weight: 500;
    padding: 3px;

}

.btn-div-menu{
    display: flex;
    margin-top: 3rem;
}

.btn-div-menu button{
    width: 50%;
    display: flex;
    padding: 5px;
    align-items: center;
    border-radius: 19px;
    justify-content: center;
    background-color: #ff8b39;
    border-color: #ff7817;
    
}

.btn-div-menu button:hover{
    color: #fff;
    cursor: pointer;
    

}




/* ===========cart start========== */

.main-cart-itm{
    background: url("Images/cart1.jpg")  center/cover no-repeat;
    width: 100%;
    height: 100vh;
    
}

.main-cart-itm h2{
    color: #fff;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    margin-left: 5rem;
    display: flex;
    font-size: large;
}


.cart_item{
    display: flex;
   /* background-color: #515151; */
   border-radius: 10;
   align: center;
    width: 100%;
    height: 100vh;
    /* border: 1px outset black; */
    
    color: #fff;
  
  
}
.order_item {
    
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    width: 300px;
    color: #fff;
    height: 500px;
}
.cart_form{
    align-items: center;
    width: 580px;
    float: right;
    border: 0px solid #ccc;
    padding: 92px;
}
.orderbutton {
    font-size: 24px;
    padding: 2px 9px;
}
.ordertextbox {
    font-size: 24px;
    padding: 2px 4px;
    text-align: center;
    width: 50px;
}
.cartitemh2{
align-items: center
fontsize: 36px;

}

.user_order_info{
    color: #fff;
}

.user_order_info button{
    background-color: #ff7817;
    padding: 1rem;
    border-radius: 5rem;
}

.checkoutbutton {
    background-color: #b2c240; /* Change the background color to your desired color */
    color: #fff; /* Text color */
    padding: 15px 30px; /* Adjust padding for size */
    font-size: 16px; /* Adjust font size as needed */
    border: none; /* Remove the default button border */
    cursor: pointer;
    box-sizing: border-box;
    
}

/*============= cart end================ */



/* --------------- ourservices---------------- */

.ourservices-main-img{
   
    min-height: 100vh;
    display: grid;
    flex-direction: column;
    /* padding: 5rem; */
    color: #fff;
    padding: 5rem;
    width: 100%;
    grid-template-columns: 900px;
    /* grid-template: 500px; */
    /* grid-column: 500px; */
}

.services-div-main-img{
    background: url(service.jpg) center/cover no-repeat;
    
}

.freespaceRectangle { 
	background-color:rgba(247.00000047683716, 63.000000044703484, 151.00000619888306, 0.9700000286102295);
	width:201px;
	height:43px;
	position:absolute;
	left:244px;
	top:654px;
	border-radius:50px;
}
.free_space { 
	color:rgba(255, 255, 255, 1);
	width:135px;
	height:28px;
	position:absolute;
	left:277px;
	top:662px;
	font-family:Inter;
	text-align:left;
	font-size:22.972116470336914px;
	letter-spacing:0;
}
.freespace_detail {
    color:rgba(0, 0, 0, 1);
	width:207px;
	height:76px;
	position:absolute;
	left:240px;
	top:703px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;

}
.relaxedEnviromentRectangle { 
	background-color:rgba(97.00000181794167, 234.00000125169754, 224.000001847744, 1);
	width:205px;
	height:43px;
	position:absolute;
	left:698px;
	top:657px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.relaxed_enviroment { 
	color:rgba(255, 255, 255, 1);
	width:186px;
	height:19px;
	position:absolute;
	left:708px;
	top:669px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.perfect_servingRectangle { 
	background-color:rgba(45.00000111758709, 217.0000022649765, 133.00000727176666, 1);
	width:205px;
	height:44px;
	position:absolute;
	left:476px;
	top:736px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.perfect_serving { 
	color:rgba(255, 255, 255, 1);
	width:191px;
	height:25px;
	position:absolute;
	left:483px;
	top:745px;
	font-family:Inter;
	text-align:left;
	font-size:20.993656158447266px;
	letter-spacing:0;
}
.aromatic_smellRectangle { 
	background-color:rgba(252.00000017881393, 224.000001847744, 1.0000000591389835, 1);
	width:204px;
	height:45px;
	position:absolute;
	left:925px;
	top:736px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.aromatic_smell { 
	color:rgba(255, 255, 255, 1);
	width:175px;
	height:24px;
	position:absolute;
	left:939px;
	top:747px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.best_dishesRectangle { 
	background-color:rgba(187.00000405311584, 155.00000596046448, 202.00000315904617, 1);
	width:215px;
	height:45px;
	position:absolute;
	left:1147px;
	top:657px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.best_dishes { 
	color:rgba(255, 255, 255, 1);
	width:129px;
	height:24px;
	position:absolute;
	left:1187px;
	top:671px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.rectangle_1 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:210px;
	height:102px;
	position:absolute;
	left:240px;
	top:702px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.rectangle_2 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:216px;
	height:103px;
	position:absolute;
	left:472px;
	top:787px;
	border-top-left-radius:26px;
	border-top-right-radius:26px;
	border-bottom-left-radius:26px;
	border-bottom-right-radius:26px;
}
.rectangle_3 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:211px;
	height:102px;
	position:absolute;
	left:699px;
	top:702px;
	border-top-left-radius:26px;
	border-top-right-radius:26px;
	border-bottom-left-radius:26px;
	border-bottom-right-radius:26px;
}
.rectangle_4 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:223px;
	height:103px;
	position:absolute;
	left:918px;
	top:787px;
	border-top-left-radius:26px;
	border-top-right-radius:26px;
	border-bottom-left-radius:26px;
	border-bottom-right-radius:26px;
}
.rectangle_5 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:215px;
	height:102px;
	position:absolute;
	left:1147px;
	top:708px;
	border-top-left-radius:26px;
	border-top-right-radius:26px;
	border-bottom-left-radius:26px;
	border-bottom-right-radius:26px;
}
.restaurants_aim { 
	color:rgba(0, 0, 0, 1);
	width:203px;
	height:57px;
	position:absolute;
	left:1154px;
	top:718px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.good_customer { 
	color:rgba(0, 0, 0, 1);
	width:193px;
	height:57px;
	position:absolute;
	left:481px;
	top:800px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.maintaining_a_clean { 
	color:rgba(0, 0, 0, 1);
	width:207px;
	height:76px;
	position:absolute;
	left:703px;
	top:712px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.aromatic_smells_in_a_restaurant { 
	color:rgba(0, 0, 0, 1);
	width:193px;
	height:76px;
	position:absolute;
	left:934px;
	top:800px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
