@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300&display=swap');
<style>

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400&display=swap');
</style>



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Nunito sans;
}

html{
    font-size: 62.5%;
    color: red;
    
}

body{
    border: 2rem solid #ff7817;
}

main{
    /* min-width: 100vh; */
    width: 90vw;
    min-height: calc(100vh - 10rem - 6.1rem);
}


.header{
    /* 1rem = 10px  */
    padding: 0 4.8rem;    
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgb(216, 214, 211); */
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.2); 
}

.header-div{
    display: flex;
    gap: 4.8rem;
    align-items: center;

}

.header-link{
    font-family: East Sea Dokdo;
    font-size: 3.5rem;
    color: black;
}


.header .logo{
    height: 4rem;
    width: auto;
}

.header .navbar-list-inline{
    display: inline;
    padding: 0rem 0.5rem;
}

.link{
    text-decoration: none;
}

.sign-up-link{
    background-color: #ff7817;
    border-radius: .5rem;
}

.header .navbar-link{
        
    padding: 0.5rem 1rem;
}

.navbar-link:link,
.navbar-link:visited {
    /* display: inline-block; */
    font-size: 1.8rem;
    font-weight: 500;
    color: #212529;
    text-transform: uppercase;
    transition: all 0.3s;
}


.header-link:hover,
.header-link:active{
    color: #ff7817;
}

.navbar-link:hover,
.navbar-link:active{
    color: #ff7817;
}





/* 
.container{
    padding: 0rem 1rem;
    
}


.list-non-bullet{
    list-style: none;
    text-align: right;
}

 */
 
